*, body{
  background-color: #0F0F23;
  color: white;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
.container {
  max-width: none;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #0F0F23;
} 

